$gradient: linear-gradient(90deg, #CE4242 -10.17%, #527FE1 107.26%);
$gradientBack: linear-gradient(267.22deg, #f43837 -10.81%, #527fe1 134.55%);
$gradient1: radial-gradient(100% 100% at 45.56% 0%, #D73231 0%, #792625 100%);
$bgColor: #0F171E;
$textColor: #808080;
$lineColor: #4D5155;
$iconColor: #CE4242;
$borderColor: #D73231;